body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.empty {
  color: #aaa;
  font-style: italic;
}
.light-text {
  color: #999;
}

.card-content .table:last-child {
  margin-bottom: 0;
}

.cell-icon-only {
  text-align: center;
}

.table {
  width: 100%;
}

.table td {
  vertical-align: middle;
}

.table.clickable tbody tr td {
  cursor: pointer;
}

.is-active-row td:first-child {
  border-left: 3px solid #23d160;
}

.text-center {
  text-align: center;
}
